body{
    background-color: rgb(156, 156, 156);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

#title, .subTitle, .postTitle {
    color: rgb(56, 56, 56);
}
#title {
    font-size: 40px;
    text-transform: uppercase   ;
}
a {
    text-decoration: line-through;
    color: rgb(56, 56, 56);
}
.photo{
    border-radius: 50%;
    border: 3px solid rgb(73, 63, 63);
}
.postTitle{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post{
    background-color: white;
    padding: 15px;
    border: 3px solid rgb(73, 63, 63);
    margin-bottom: 15px;
    border-radius: 20px;
}
.postContent{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}
.postImage{
    margin-bottom: 15px;
    width: 100%;
}
.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}
.contacts_list li a {
    text-decoration: none;
}
